{% include 'db_serv/index_header.html' %}
<div class="card shadow rounded">
  <div class="row"><!--　行を変える　-->
    <div class="col-sm-4"><!--　col-4の大きさのpanelを3個並べる　-->
      <div class="panel panel-primary">
<center><span style="color: #00ff00; font-size: 32px;"><span style="font-family: 'Noto Sans Japanese-900'; color: #ff0000;"><span style="color: #339966;">プ</span>ロ<span style="color: #cc99ff;">グ</span><span style="color: #ff00ff;">ラ</span><span style="color: #0000ff;">ミ</span>ン<span style="color: #008000;">グ</span>教室</span></span></center>
<ul>
 	<li><span style="font-size: 18px;"><strong><span style="color: #00ff00;"><span style="color: #000000;">Pythonプログラミング講座（新規）</span></span></strong></span></li>
 	<li><span style="font-size: 18px;"><strong><span style="color: #00ff00;"><span style="color: #000000;">IoTプログラミング入門</span></span></strong></span></li>
 	<li><span style="font-size: 18px;"><strong><span style="color: #00ff00;"><span style="color: #000000;">Scratchプログラミング入門</span></span></strong></span><span style="font-size: 18px;"><span style="color: #00ff00;"><span style="color: #000000;">
</span></span></span><span style="font-size: 18px;"><span style="color: #00ff00;"></br>
</span>新たに大人向けのPythonプログラミング講座を開設しました。最近のPython言語を用いたシステム開発は特にAI（人口知能）の分野を筆頭にあらゆる分野で世界の第１戦級の研究者からシステム開発者達がしのぎをけずって開発競争を繰り広げています。結果として無償で利用可能な先端分野に関連するPythonライブラリ群が資産として蓄積されることとなり、Python利用が加速度的に広がっている状況にあります。また、我々の日常生活の中ではスマートフォンなどの情報機器が欠かせない時代になり、あらゆる物がインターネットで一瞬の内に繋がるIoT（Internet Of Things）時代へと変貌している訳です。このような時代に生き抜きですので特にAI（人工知能）分野を筆頭に開発競争を繰り広げています目覚ましいものがあり、あらゆる分野にわたり圧倒されるものがあります。世界中の研究者やシステム開発者が挙ってAI（人工知能）の分野であらゆる物がインターネットに繋がるIoT（Internet of Things）の時代、Web技術を理解して上手く使いこなすことは大変重要で、その基盤となるプログラミング技術を学び時代を生き抜く知恵やセンスを磨かなければ成りません。但し、学ぶに当たっては、大仰に構えて学ぶのではなく、楽しく遊んでいるうちにプログラミングを習得出来ているような、導入教育が最も大事です。最初に興味を持つことが出来たらしめたものです。自在にプログラミング出来るまでには多少の忍耐と年月が必要なのですが、興味が強ければ乗り越えることが出来るでしょう。自らのアイデアを形に出来れば一瞬のうちに世界に広まって行く時代でもあります。プログラミングを学び次の時代へ踏み出しましょう。上記の入門コースは１～３ヶ月のコースですが、さらに本格的に学びたい方に向けての実践的な専門コースも勿論用意しています。挑戦しては如何ですか。各講座￥5,000/月～の教室です。２０２０年度からは小学校でのプログラミング教育が始まるとのこと、プログラミング教育に携わる先生方への実践講座なども準備の予定です。</span></li>
</ul>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">

<center><span style="font-size: 32px; font-family: 'Noto Sans Japanese-900';"><span style="color: #ff00ff;"><span style="color: #008000;">W</span>eb</span><span style="color: #0000ff;">ア</span><span style="color: #ff6600;">プ</span><span style="color: #800080;">リ</span><span style="color: #ff0000;">制作</span></span></center>
<ul>
 	<li><span style="font-size: 18px;"><strong>Pythonアプリ開発
</strong></span></li>
 	<li><strong style="font-size: 18px;">IoTシステム開発
</strong></li>
 	<li><strong style="font-size: 18px;">プログラミング研修・講座の講師
</strong></br>
<span style="font-size: 18px;">インターネット周辺の技術導入やホームページ作成などに苦心されている自営業・小規模企業の方々に向けてWebアプリ開発受託やWeb担当者に向けてのプログラミング研修講座や支援を行っています。筆者は機械メーカにて４０年以上に亘り、一貫して機械システムの開発設計の業務に携わって参りました。プログラミング教育などを含め技術者を育てて参りましたので教育の要点や勘所を押さえており、ソフトウェアエンジニアリングを含めた奥行きのあるコンサルティングが可能です。また、自分なりのビジネスアイデアのWebアプリ開発にチャレンジしつつ、最近の技術進展に追随すべく自身の技術基盤の確立に努めています。お手伝い出来そうなことがありましたらご連絡下さい。</span></li>
</ul>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">

<center><span style="font-size: 32px; font-family: 'Noto Sans Japanese-900';"><span style="color: #339966;">ト<span style="color: #ff6600;">ピ</span></span><span style="color: #993300;">ッ</span><span style="color: #0000ff;">ク</span><span style="color: #ff00ff;">ス</span></span></center></br>

<span style="font-size: 18px;">今後はブログも充実させて行く予定ですが、このトピックスではブログとは別にアピールしたい項目や読者の方々の意見を伺いたい項目などを取り上げたいと思います。</span>
<ul>
 	<li><span style="font-size: 18px;"><strong>My_DataBaseソフト</strong></span></br><span style="font-size: 18px;">過去の事柄を引っ張り出して参考にしたい事は経験を重ねるに従って増え続けます。上手く整理して素早く探し物を見つける整理術は永遠のテーマだと思います。私は一時期Accessを利用していました。蓄積情報が増えて1000件を超えるようになるとその中から探し出すのも面倒になって参ります。Webアプリ開発技術の鍛錬を兼ねてAccessを上回る自身の蓄積情報をサーバー上に記録して何時でも何処からでも引っ張り出せるMy DtataBaseなるものの開発に挑戦することとしました。どのような機能を盛り込むべきかMy_DBの仕様を考え、またその仕様を実現出来るWeb技術を調べながら少しづつ進めています。未だ完成には程遠い状況ですし無知を晒すようで恥かしいのですが現状を公開し皆さんのご意見や知恵を拝借できたら開発意欲も高まるかとも思った次第です。既に同様のWebアプリも数多くあるとか、Wordpressでも可能だとか、自分はこんなことをしているとかご意見下さい。メニューの右端にあるMy DBをクリックして適当に弄って頂いてダメ出しでも機能不足などのご意見など頂ければ有難いと思います。事の顛末に付きましてはブログにて順次報告して行く予定です。</span></li>
 	<li><span style="font-size: 18px;"><strong>仲間を作りたい</strong></span></br><span style="font-size: 18px;">インターネット周辺の技術分野に踏み出したものの技術は物凄いスピードで進み、応用技術も次々には進展しており、技術的にも追随することも難しく、増してやリヤイヤ後の一人で出来ることは僅かです。同様の分野に興味をもって取り組んでいる方々で情報を交換しても良い方が居られましたらご連絡頂ければと思っています。意見交換など出来れば面白いかと思っています。</span></li>
</ul>
      </div>
    </div>
  </div>
</div>
<script>
// 処理の中身
function firstscript(){
console.log('** Initial Stage');
  var dfd=$.Deferred();
//初回か否かの判定にsessionstorageを使う方法
  var key = 'my_session';
  if(!window.sessionStorage.getItem(key)) {
    // セットされてなければnullなのでこのブロックに入る。
console.log('** Ajax Start and Get all Data Stage');
    window.sessionStorage.setItem(key, 1);

        $.ajax({
            url: "/db_serv/get_combo/",
            data: {
		"message":"**put all data**",
		},
            dataType: 'json'
        })
        .done((data) => {
	    var gDataid=data.no;
　　　　    var gDataA=data.theme;
　　　　    var gDataB=data.bunrui1;
　　　　    var gDataC=data.bunrui2;
　　　　    var gDataD=data.bunrui3;
　　　　    var gDataE=data.day_regist;
　　　　    var gDataF=data.overview;
console.log('theme= ',gDataA);
console.log('end tex');
console.log('**Ajax Returned result=',data);


   var key1 = 'read_data';
   if(!window.sessionStorage.getItem(key1)) {
    // セットされてなければnullなのでこのブロックに入る。
console.log('** read_data Stage');
// 初回なのでsessionStorageのkey1値を格納する
        window.sessionStorage.setItem(key1, 1);

//　ブラウザ表示用データの準備 Dataは既にAjaxによりDBより入手済

	var selA_value="";
	var selB_value="";
	var selC_value="";
	var selD_value="";
	var n_present=0;     //　現在Editor対象のレコードのdispflagの番号
	var k_table=1;       //　Table表示の番号
	var str = selA_value+','+selB_value+','+selC_value+','+selD_value+','+String(n_present)+','+String(k_table);
	var ary = str.split(',');

	var E_selA="";
	var E_selB="";
	var E_selC="";
	var E_selD="";

	var DataA = gDataA.split(';,;', -1);
	var DataB = gDataB.split(';,;', -1);
	var DataC = gDataC.split(';,;', -1);
	var DataD = gDataD.split(';,;', -1);
	var DataE = gDataE.split(';,;', -1);
	var DataF = gDataF.split(';,;', -1);
	var Dataid = gDataid.split(';,;', -1);
	var delflag = gDataid.split(';,;', -1);
	var dispflag = gDataid.split(';,;', -1);
	var nlist=DataA.length;
	for(i=0;i<nlist;i++){
		dispflag[i]=i;
		}
console.log('length A,B,C,D,F=',DataA.length,DataB.length,DataC.length,DataD.length,DataE.length,DataF.length)
  //配列をJSON文字列に変換
  	var js_DataA = JSON.stringify( DataA );
  	var js_DataB = JSON.stringify( DataB );
  	var js_DataC = JSON.stringify( DataC );
  	var js_DataD = JSON.stringify( DataD );
  	var js_DataE = JSON.stringify( DataE );
  	var js_DataF = JSON.stringify( DataF );
  	var js_Dataid = JSON.stringify( Dataid );
        var js_delflag = JSON.stringify( delflag );
        var js_dispflag = JSON.stringify( dispflag );
 	var js_Selbox=JSON.stringify( ary );

  //JSON文字列をセッションストレージに書き込む
  	sessionStorage.setItem( "jsonsA" , js_DataA );
  	sessionStorage.setItem( "jsonsB" , js_DataB );
  	sessionStorage.setItem( "jsonsC" , js_DataC );
  	sessionStorage.setItem( "jsonsD" , js_DataD );
  	sessionStorage.setItem( "jsonsE" , js_DataE );
  	sessionStorage.setItem( "jsonsF" , js_DataF );
        sessionStorage.setItem( "jsonsid" , js_Dataid );
        sessionStorage.setItem( "jsonsfg" , js_delflag );
        sessionStorage.setItem( "jsonsdisp" , js_dispflag );
	sessionStorage.setItem( "jsonsSel" , js_Selbox );
   }
	    dfd.resolve();
        });
   }

// そのほか必要な処理
	return dfd.promise();
}

function escapeHtml(convertString) {
    if (typeof convertString !== 'string') return convertString;
 
    var patterns = {
        '<'  : '&lt;',
        '>'  : '&gt;',
        '&'  : '&amp;',
        '"'  : '&quot;',
        '\'' : '&#x27;',
        '`'  : '&#x60;'
    };
 
    return convertString.replace(/[<>&"'`]/g, function(match) {
        return patterns[match];
    });
};
function unescapeHtml(target) {
    if (typeof target !== 'string') return target;
 
    var patterns = {
        '&lt;'   : '<',
        '&gt;'   : '>',
        '&amp;'  : '&',
        '&quot;' : '"',
        '&#x27;' : '\'',
        '&#x60;' : '`'
    };
 
    return target.replace(/&(lt|gt|amp|quot|#x27|#x60);/g, function(match) {
        return patterns[match];
    });
};



</script>
{% include 'db_serv/footer.html' %}